#root {
    width: 90%;
    max-width: 50rem;
    margin: 2.5rem auto;
    gap: 2rem;
}

header {
    
    img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: 10%;

        @media(max-width: 768px) {
            max-width: 30%;
        }
    }

    h1 {
        text-align: center;
    }
}

h2 {
    margin-top: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.spinner {
    max-width: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 35px;
    }

    .users-section {
        width: 30%;

        @media (max-width: 768px) {
            width: 100%;
        }

        .users-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 0.5rem;
            align-items: flex-start;
            flex-direction: column;

            @media (max-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }

            li {
                width: 100%;
                text-align: center;

                @media (max-width: 768px) {
                    width: auto;
                }

                button {
                    width: 100%;
                }
            }
        }
    }

    .gift-list-section {
        width: 65%;

        @media (max-width: 768px) {
            width: 100%;
        }

        header {
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5em;

            h2 {
                margin: 0;
            }
        }

        .no-selected-user {
            text-align: center;
        }
    }

    ul {
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }
}

/* Gift Styling */
.gift-list {
    gap: 1em;
    display: flex;
    flex-direction: column;
    margin: 0;

    .gift {
        padding: 1rem;
        color: #25113d;
        background-color: #bf9ee5;
        border-radius: 6px;

        .title-area {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            align-items: center;
            
            h2 {
                margin: 0;
            }
        }

    }
}

/* Add Gift Dialog Modal */
.backdrop {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
dialog {
    width: 90%;
    max-width: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #433352;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 1.5em;
    top: 7rem;

    @media (max-width: 768px) {
        width: 75%;
    }

    label {
        display: block;
        font-weight: bold;
        font-size: 0.85rem;
        color: #ab9ac0;
    }

    input,
    textarea {
        width: 100%;
        font: inherit;
        padding: 0.15rem 0.25rem;
        border-radius: 4px;
        border: 1px solid #ab9ac0;
        background-color: #d0c2e1;
    }
    .actions {
        margin: 1rem 0 0;
        display: flex;
        justify-content: flex-end;
        gap: 0.25rem;
    }

    button {
        font: inherit;
        cursor: pointer;
        border: none;
        padding: 0.35rem 1.25rem;
        border-radius: 4px;
        background-color: transparent;
    }

    button[type="button"] {
        color: #bdadcf;
    }

    button[type="button"]:hover,
    button[type="button"]:active {
        color: #d0c2e1;
    }

    button[type="submit"] {
        background-color: #9c73ca;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }

    button[type="submit"]:hover,
    button[type="submit"]:active {
        background-color: #895cce;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    }

    @media (min-width: 768px) {
        dialog {
            padding: 2rem;
        }
    }
}
